* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1440px;
    height: 1024px;

    /* Light blue/light-blue-100 */

    background: #F3F5FC;
}

#logo-container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#message-container {
    border: 2px;
    border-color: black;
    border-style: solid;

    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#image-message {
    position: absolute;
    width: 336px;
    height: 304px;
    
    top: 283px;
}