* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

#logo-container {
    position: relative;
    padding: 25px 0;
}

.container-main {
  position: relative;
}

.container-primary {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 1000px;
  height: 700px;
  top: 20%;
  left: 10%;
}

.container-input {
  width: 100%;
  text-align: center;
}

.container-input textarea {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  font-size: 1.5rem;
}

.container-buttons {
  display: flex;
  align-items: flex-end;
  height: 400px;
}
.buttons {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
}
.btn {
  top: 300px;
  left: 40%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 10%;
}

.btn-encrypter {
  background-color: #0369a1;
  color: white;
  justify-content: center;
  transition: 0.5s all;

  box-shadow: 0 9px #999;
}

.btn-encrypter:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.btn-decrypter {
  background-color: #0369a1;
  color: white;
  transition: 0.5s all;

  box-shadow: 0 9px #999;
}

.btn-decrypter:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.container-secondary {
  display: flex;
  background-color: #ffffff;
  width: 400px;
  height: 900px;
  position: relative;
  border: 2px;
  border-radius: 10px;
  left: 70%;
}

.container-secondary textarea {
  position: absolute;
  display: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}

/* div que se oculta */
/* #div-hidden {
  display: none;
} */

.container-secondary img {
  position: absolute;
  top: 30%;
  right: 10%;
}

.container-secondary h2,
p {
  position: absolute;
  top: 600px;
  left: 10%;
}

.container-secondary p {
  left: 25%;
  margin-top: 25px;
}

.btn_copy {
  display: none;
  cursor: pointer;
  background-color: aliceblue;
  position: absolute;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  top: 80%;
  left: 30%;
  transition: 0.5s all;
}



.btn_copy:hover {
  color: #ffffff;
  font-size: 20px;
  background-color: rgb(160, 166, 184);
  transform: scale(1.2);
}

.btn_clear {
  display: none;
  cursor: pointer;
  background-color: aliceblue;
  position: absolute;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  top: 90%;
  left: 30%;
  transition: 0.5s all;
}

.btn_clear:hover {
    color: #ffffff;
    font-size: 20px;
    background-color: rgb(160, 166, 184);
    transform: scale(1.2);
  }

.redes {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 9%;
    width: auto;
    height:5%;
    gap: 5px;
}

.git {
    position: relative;
}

.git img {
    position: absolute;
    left: 80%;
    transition: 0.5s all;
}

.git-link:hover {
    transform: scale(1.2);
}

.nombre {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: large;
  
}
.nombre p {
    position: absolute;
    top: 15px;
}